---
sudo: required
language: python
services: docker

env:
  - version=">=2.7,<2.8" distro="centos-latest"
  - version="" distro="centos-latest"
  - version="devel" distro="centos-latest"

matrix:
  allow_failures:
    - env: version="devel" distro="centos-latest"

cache:
  - pip

install:
  - pip install --upgrade pip
  - if [ "${version}" != "devel" ] ; then pip install ansible"${version}" ; fi
  - if [ "${version}" = "devel" ] ; then pip install git+https://github.com/ansible/ansible.git@devel ; fi
  - pip install molecule
  - pip install docker

script:
  - if [ "${expectation}" = "fail" ] ; then ! molecule test --scenario-name "${distro}" ; else molecule test --scenario-name "${distro}" ; fi

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: "wBABLltkbIZAwaB330Zun56572Ky8BVu5kBzODkUB9tnNz0y1AK6XpszdMAkhBd/5l1fzeW4uK7JbakAUM2OFZhoGF8KntVopWyfvje+Y+T8WuVj3WRIe909pI7bbyY3fN8SlLShNUOZ6IPAmwwhS0HBlfFhGQxkW/xU17t/iKH+qtuplVyM6hL3WQKMgGZ0taNM3Pmq+eXgukkoOeCNRwKmt+7nUt2AXcVr2KUw4nEKaIst5flpfbBwpM6CuPzp775V+CQSB0o8RnxDZwOkjyhE7nfCDm/F5ie523BWJb6J4VKGkRfdlDTZiwQqSQW/OPpIjGHBJLKkZosq1XRRLnPRqrxyzAZnkpH7xjr+4NQlBf65f2gkEPPEv79lIxBiBDUVZ1yat4ocwd2/pC7ZNnTK7mgXc4/8PXrJMjtvCC9yxHrQnbsWmshwNgwmM2Q+Vse5dUT1qrmwiYQfifYOZ7KBrljKZQnmC5k9NK3iIzyRXrKcdbOvPigLd3SBP5EOgH9OfKFAR+V093NhFpvuOPQ+86oVcS3CdhlFnAOzPIjG7Lu8mhGyxtFyTNLom/i2RKRx5Q5BGYJWrN7wu2CVs0YEWeXngC7K5su8/Ry47PLaAWUY29M1ePp09MTcSQIYscZsz3MvDT1/ZakVSB4jRqhtjALT5vMz+ae7pGHzz/4="
  email: false
