---
# tasks file for server
- name: load release_packages
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
    - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"

- name: install software (yum)
  yum:
    name: "{{ release_packages }}"
    state: present
  when:
    - ansible_pkg_mgr == "yum"
  register: release_install_software_yum
  until: release_install_software_yum is succeeded
  retries: 3

- name: reboot for release
  include_role:
    name: robertdebock.reboot
  when:
    - release_install_software_yum.changed
  tags:
    - skip_ansible_lint
